<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-inverse card-primary text-xs-center">
        <div class="card-header card-inverse">
                Shopping List
		</div>
        <div class="card-block">
           <blockquote class="card-blockquote">
              <p>Choose items from your standard shopping list, create new list items, save items to your standard list...list, buy, </p>
           </blockquote>
        </div>
        <div class="card-footer text-muted">
                Today's Date : <span id="date"></span>
        </div>
      </div>
    </div>       
  </div>
</div>

<!-- //-------Create New Item------------- 
problem with btn if line 32: input-group-addon then no click function, if input-group-button then it doesn't align correctly-->
<div class = "row">
  <div class = "col-md-12">
		<div class = "col-md-6 text-center enter_section">
<!-- 		  <h2 class="lead">Add a Grocery Item h2 class lead</h2>
 -->			<form method="POST" action="/shop_items/create">
					<div class = "input-group">
						<input type="text" name="item" class=" form-control" value = "" id = "enter_text" placeholder="Enter a grocery item input-group btn-->.">

						<span class = "input-group-btn">
						<button class = "btn btn-default" type = "submit">Add This Item</button></span>
					</div>			
				</form>
		</div>
		<!-- <div class="col-lg-6">
    	   <div class="input-group dropdown">
      		<input type="text" class="form-control" aria-label="dropdown menu with click actions">
      		<div class="input-group-btn">
        		<button type="button" class="btn btn-default dropdown-toggle dropbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        		<ul class="dropdown-menu dropdown-menu-right dropdown-content">
		          <li><a href="#">Action</a></li>
		          <li><a href="#">Another action</a></li>
		          <li><a href="#">Something else here</a></li>
		          <li role="separator" class="divider"></li>
		          <li><a href="#">Separated link</a></li>
	        	</ul>
      		</div></btn-group
    	   </div></input-group
  		</div></.col-lg-6
	</div> col-md-12
</div> end row -->

		<div class = "col-md-6 text-center side_section">
			<div class="dropdown">
				<form method="POST" action="/shop_items/create">
					<!-- <div class = "input-group">
					<div>
						<input type="text" class="form-control" placeholder ="Choose std item to buy" aria-label="Text input with dropdown button"> -->
				  		<button class="btn btn-default dropdown-toggle dropbtn" type = "submit" id="dropdownMenu1" data-toggle = "dropdown" aria-haspopup ="true" aria-expanded ="true">
				  		Choose Std
				  		  <span class="caret"></span>
				  		</button>
		  				<ul class = "dropdown-menu dropdown-content" aria-labelledby ="dropdownMenu1">
					
						    <li><a href="#">Link 1</a></li>
						    <li><a href="#">Link 2</a></li>
						    <li><a href="#">Link 3</a></li>
					  	</ul>
				</form>
			</div>
		</div>
	</div> <!-- end of col12 -->
</div> <!-- end of row -->

  <!-- *********
  <!-- <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder ="Enter new item to buy" aria-label="Text input with dropdown button">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add New
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Item</a>
          <a class="dropdown-item" href="#">Item 2</a>
          <a class="dropdown-item" href="#">Item 3 here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- //******-Items To Buy List & PurchBtn Post/Put****** -->

<div class="panel panel-default col-md-6">
  <!-- Default panel contents -->
  <div class="panel-heading">Items to Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </div>

  <!-- Table -->
  <div class = "row">
  <table class="table table-condensed">
  {{#each item_data}}
			{{#unless this.purchased}}
			
			<pre> {{this.id}}. {{this.item}}</pre>
			<form method="POST" action="/shop_items/update?_method=PUT" class = "button-size">
					<input type ="hidden" name ="id" type = "text" value = {{this.id}}>
					<button type = "submit" class = "btn btn-default">Purchased <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
					</button>
				</form>
			{{/unless}}
		{{/each}}
  </table>
</div>
</div>

  <!-- //-------Item List & Purchased Btn Post/Put------------- -->
	<div class="panel panel-default col-md-6">
  <!-- Default panel contents -->
  <div class="panel-heading">Purchased Items <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
</div>

  <!-- Table -->
  <table class="table table-condensed">
		{{#each item_data}}
			{{#if this.purchased}}
			<input class = "form-control hover form-inline" type = "text" placeholder = "{{this.id}}. {{this.item}}" readonly>
				<form  method="DELETE" action="shop_items/delete?_method=DELETE" class = "button-size">
				<div class ="form-inline"> 
					<input type ="hidden" name ="id" type = "text" value = {{this.id}}>
					<button type = "submit" class = "btn btn-default">Clear <i class="fa fa-trash fa-1x" aria-hidden="true"></i></button>
					<!-- <button type = "submit" class = "btn btn-default">Save <i class="fa fa-check-square fa-1x" aria-hidden="true"></i></button> turn into an <a> on click event -->
				</div>
				</form>
			{{/if}}
		{{/each}}
	</table>
</div>
  <!-- //-------If Purchased & ReadOnlyPurchased List---------- -->
  <div class = "col-xs-12">
  	<div class = "row">
		<div class = "col-md-6 col-md-offset-3 text-center bought">			<label>Standard Items</label>
				{{#each item_data}}
			   		{{#if this.purchased}}
			   			<input class = "form-control" type = "text" placeholder = "{{this.id}}. {{this.item}}" readonly>
			   		{{/if}}
		   		{{/each}}
		   		<form action="groceryItem/truncate/?_method=DELETE" method="POST">
 					<button type="submit">Clear all the items</button>
				</form>
   		</div>
	</div>
<!-- *******trial and error********* -->


  <div class="row">
  	<div class = "col-md-6 col-md-offset-3 text-center bought2">	
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Fixed Recurring Grocery Items 
          </h4>
        </div>
	        <table class="table table-fixed">
	          <thead>
	            <tr>
	              <th class="col-xs-2">#</th><th class="col-xs-4">Item</th><th class="col-xs-2">Got it!</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	            {{#each item_data}}
				   {{#if this.purchased}}
				   	<td><input type ="text" class = "form-control col-xs-2" placeholder = "{{this.id}}" readonly></td>
					<td><input type ="text" class = "form-control col-xs-4" placeholder = "{{this.item}}" readonly></td>
	              	<td class="col-xs-2"><i class="fa fa-check-square fa-1x" aria-hidden="true"></i></td>
				   	{{/if}}
			   	{{/each}}
	            </tr>
          	 </tbody>
        </table>
      </div>
  </div>
</div>
</section>
</div> <! end of container -->
